/* variables */
:root {
    --header-bg-var: rgb(39, 38, 38);
    --aside-bg-var: rgba(0, 0, 0, 0.763);
    --main-bg-var: rgba(73, 73, 73, 0.19);
    --article-bg-var: rgb(240, 248, 255);
    --footer-bg-var: rgb(39, 38, 38);
}

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    text-align: center;
    /*grid-gap: 20px 20px;*/

    grid-template-areas: 
        "header header"
        "aside body"
        "footer footer";
    
    grid-area: body;
}

a {
    text-decoration: none;
    color: inherit;
}

aside ul {
    padding: 0px;
}

li {
    list-style-type: none;
    text-align: left;
    margin-top: 15px;
}
header, aside, footer {
    color: aliceblue;
}

header {
    padding: 50px;
    grid-area: header;
    background-color: var(--header-bg-var);
}

aside {
    grid-area: aside;
    padding: 40px;
    background-color: var(--aside-bg-var);
}

footer {
    grid-area: footer;
    padding: 20px;
    background-color: var(--footer-bg-var);
}

footer li {
    margin: 20px;
}

article {
    background-color: var(--article-bg-var);
    box-shadow: rgba(39, 39, 39, 0.089) 0px 0px 20px 5px;
    margin: 5px;
    border-radius: 30px;
}

article p {
    margin: 20px;
    text-align: justify;
}

main {
    padding: 50px;
    background-color: var(--main-bg-var);
    
    display: grid;
    grid-template-columns: 1fr 1fr; /* display articles in two columns */
    gap: 5px;
}

main h1 {
    font-weight: bolder;
}

main h1, main p {
    grid-column: 1 / -1; /* display heading above columns articles */
    text-align: center;
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
        flex-direction: column;
        text-align: center;
    }
    main h1, h2 {
        text-align: center;
    }
    article {
        text-align: justify;
    }
    footer {
        flex-direction: column;
        text-align: center;
    }
}