body {
    height: 100%;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-gap: 20px 20px;

    grid-template-areas: 
        "header header"
        "aside body"
        "footer footer";
}

header {
    grid-area: header;
}

body {
    grid-area: body;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

body main {
    padding: 40px;
    color: aliceblue;
    background-color: brown;
    border-radius: 4px;
}